* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    background-color: #f3f3f6;
    padding-inline: 20vw;
}

.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

.gnb__logo {
    display: inline;
    color: #313131;
}

.gnb__item {
    padding-inline: 8px;
    font-size: 12px;
    white-space: nowrap;
    color: #313131;
    cursor: pointer;
}

.gnb__item:hover {
    color: #000000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid #cccccf;
}

.header__product {
    font-size: 21px;
    font-weight: 600;
}

.header__menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__list {
    display: flex;
    gap: 20px;
    list-style: none;
    color: #313131;
}

.header__list-item {
    display: flex;
    align-items: center;
    height: 52px;
    font-size: 12px;
}

.header__list-item--selected {
    color: #000000;
    border-bottom: 1px solid #000000;
}

.header__list-item:hover {
    color: #000000;
}

.header__button {
    width: 60px;
    padding: 3px 10px;
    margin-inline-start: 20px;
    font-size: 12px;
    color: #ffffff;
    white-space: nowrap;
    text-align: center;
    background-color: #2065d9;
    border: none;
    border-radius: 20px;
}