* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.sidebar {
  padding: 5px 15px;
  width: 170px;
  background-color: palevioletred;
}

.sidebar ul {
  width: 100%;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
  padding: 5px 0;
  color: white;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5)
}

.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px;
  width: calc(100% - 170px);
  flex-wrap: wrap;
}

.item {
  width: 24%;
  height: 180px;
  margin-bottom: 10px;
  background-image: url('../img/mo.jpg');
  background-size: cover;
}