* {
  box-sizing: border-box;
  
}

html, body {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  background-image: url('./img/banner.jpg');
  background-size: cover;
}

.text {
  font-size: 42px;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  animation: titleText 0.8s ease-in-out;
}

@keyframes titleText {
  from {
    transform: translateY(70px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.mainContents {
  display: flex;
  padding: 10px;
  max-width: 1320px;
  gap: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  background-color: orange;
  border-radius: 10px;
}

.sidebar__navigation-list {
  width: 100%;
  padding-inline: 20px;
}

.sidebar__navigation-item {
  width: 100%;
  padding-block: 8px;
  flex-wrap: nowrap;
  color: white;
  list-style: none;
  cursor: pointer;
}

.sidebar__btn-add {
  display: flex;
  padding-block: 5px;
  padding-inline: 15px;
  margin-block-start: 10px;
  width: 150px;
  gap: 10px;
  text-align: left;
  color: white;
  border: 2px solid black;
  background-color: black;
  cursor: pointer;
}

.itemWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.item {
  position: relative;
  width: calc(25% - 7px);
  aspect-ratio: 6 / 5;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.imgBox {
  width: 100%;
  height: 100%;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textBox {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.textBox p {
  color: white;
  margin: 5px 0 0;
}

.textBox__name {
  font-size: 22px;
  font-weight: 500;
  opacity: 0;
  transform: translateY(50px);
}

.textBox__price {
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
  transform: translateY(50px);
}
/* PC */

/* tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .textBox {
    position: relative;
    left: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    border: 1px solid #dddddd;
  }

  .item {
    width: calc(25% - 7px);
    border-radius: 0;
    overflow: visible;
  }


  .textBox p {
    color: black;
  }
  
  .textBox__name {
    font-size: 18px;
    opacity: 1;
    transform: translateY(0);
  }
  
  .textBox__price {
    font-size: 12px;
    opacity: 1;
    transform: translateY(0);
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .mainBanner {
    height: 160px;
  }

  .text {
    font-size: 26px;
  }

  .mainContents {
    flex-direction: column;
    padding: 0;
  }

  .sidebar__navigation {
    width: 100%;
    height: 40px;
    border-radius: 0;
  }

  .sidebar__navigation-list {
    display: flex;
    padding-inline: 0;
    max-width: 350px;
  }

  .sidebar__navigation-item {
    text-align: center;
    font-size: 14px;
  }

  .sidebar__navigation-item:hover {
    padding-inline-start: 0;
  }

  .sidebar__btn-add {
    display: none;
  }

  .itemWrap {
    margin-inline: 10px;
  }

  .item {
    width: calc(50% - 7px);
    border-radius: 0;
    overflow: visible;
  }

  .textBox {
    position: relative;
    left: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    border: 1px solid #dddddd;
  }

  .textBox p {
    color: black;
  }
  
  .textBox__name {
    font-size: 18px;
    opacity: 1;
    transform: translateY(0);
  }
  
  .textBox__price {
    font-size: 12px;
    opacity: 1;
    transform: translateY(0);
  }
}

/* pc에서만 hover */
@media screen and (min-width: 1024px) {
  .sidebar__navigation-item:hover {
    padding-inline-start: 10px;
    border-radius: 5px;
    background-color: rgb(227, 153, 16);
    transition: all 0.2s ease;
  }

  .sidebar__btn-add:hover {
    color: black;
    background-color: white;
    gap: 55px;
    transition: gap 0.5s ease;
  }

  .item:hover .textBox__name {
    opacity: 1;
    transform: translateY(-10px);
  }
  
  .item:hover .textBox__price {
    opacity: 1;
    transform: translateY(-10px);
  }
  
  .item:hover:after {
    opacity: 1;
  }
  
  .item:hover .imgBox {
    transform: scale(1.1);
    filter: blur(3px);
  }

  .item:after,
  .item .imgBox,
  .item .textBox__name,
  .item .textBox__price {
    transition: all 0.4s ease-in-out;
  }

  .item .textBox__price {
    transition-delay: 0.15s;
  }
}