/* 전체 선택자 */
* {
  background-color: bisque;
}

/* 태그 선택자 */
div {
  background-color: aqua;
}

/* 클래스 선택자 */
.text-class {
  background-color: dodgerblue;
}

/* id 선택자 */
#text-id {
  background-color: brown;
}